@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body
{
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
font-family: 'Poppins', sans-serif;
}










  .membrii {


    padding: 20px;
    color: #000;
    position: relative;
    bottom: -200px;
    right: 34%;
  }

  .welcome {



    color: #000;
    position: relative;
left: -60%;
-webkit-transform: translateY(-90%);
  -moz-transform: translateY(-90%);
  -ms-transform: translateY(-90%);
  -o-transform: translateY(-90%);
  transform: translateY(-90%);
  }
  
div {
    border: 25px white;

}
.margine{
    position: relative;
    width: 750px;
    height: 450px;
    border: 5px solid #ffffff;
    margin: 100px auto;
    padding: 30px;
    box-sizing: border-box;
    float: left;
    border-bottom: 2px dotted #b38b0d;  


}

.margine:after{
    position: relative;
    width: 50px;
    height: 50px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    top: 100%;
    left: 50%;
    margin-left: -25%;

}
.faralimita {


    padding: 20px;
    color: #000;
    position: relative;
    bottom: 60px;
    left: -30%;
  }

  body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #e25822;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #e25822;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(226, 88, 34, 1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(226, 88, 34, 1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.developer {


    position: absolute;
    bottom: -380px;
    right: 105%;
  }
